<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <LayoutSnippet> -->
<link rel="stylesheet" href="public\stylesheets\style.css">
<h1 class="mb-3">Calendar</h1>
<a href="/calendar/new" class="btn bg-lightbluealan btn-sm mb-3">New event</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Organizer</th>
      <th scope="col">Subject</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
    </tr>
  </thead>
  <tbody>
    {{#each events}}
      <tr>
        <td>{{this.organizer.emailAddress.name}}</td>
        <td>{{this.subject}}</td>
        <td>{{eventDateTime this.start.dateTime}}</td>
        <td>{{eventDateTime this.end.dateTime}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<p>
  <button class="btn bg-lightbluealan btn-sm mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Commands list
  </button>
</p>
<div style="min-height: 140px;">
  <div class="collapse collapse-horizontal" id="collapseWidthExample">
    <div class="card card-body bg-lightbluealan no-border" style="width: 300px;">
      <ul>
        <li>Open calendar tab ... </li>
        <li>Open home tab... </li>
        <li>Add new event ... </li>
        <li>Change subject to... </li>
        <li>Add "person name" as a new attendee ... </li>
        <li>Change start date to ... </li>
        <li>Change end date to ... </li>
        <li>Body message is ... </li>
        <li>Create the new event ... </li>
        <li>Cancel new event ... </li>
      </ul>
    </div>
  </div>
</div>
<!-- </LayoutSnippet> -->