<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <IndexSnippet> -->
<div class="p-5 mb-4 bg-lightbluealan rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-3 fw-bold re-size">This is Roscolendar</h1>
    <img src="https://cdn.discordapp.com/attachments/820023341377257503/1012900151662219284/roscomobilen.png" class="image">
    <p class="lead">The automatizaded apointment service aplication using Alan AI </p>
    {{#if user}}
      <h4>Welcome {{ user.displayName }}!</h4>
      <p class="col-md-10 fs-5 lead">Use the navigation bar at the top of the page to get started.</p>
    {{else}}
      <a href="/auth/signin" class="btn btn-primary btn-large">Click here to sign in</a>
    {{/if}}
  </div>
</div>

<p>
  <button class="btn bg-lightbluealan btn-sm mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Commands list
  </button>
</p>
<div style="min-height: 140px;">
  <div class="collapse collapse-horizontal" id="collapseWidthExample">
    <div class="card card-body bg-lightbluealan no-border" style="width: 300px;">
      <ul>
        <li>Open calendar tab ... </li>
        <li>Open home tab... </li>
        <li>Add new event ... </li>
        <li>Change subject to... </li>
        <li>Add "person name" as a new attendee ... </li>
        <li>Change start date to ... </li>
        <li>Change end date to ... </li>
        <li>Body message is ... </li>
        <li>Create the new event ... </li>
        <li>Cancel new event ... </li>
      </ul>
    </div>
  </div>
</div>

<!-- </IndexSnippet> -->